# Unfinished Files
activities.go
services/activities/types.go
tasks.go
services/tasks/types.go
classes
classes.go
tasks
packages/
bazel-api
bazel-bin
bazel-testlogs
bazel-out
# Env Files
.env
# VSCODE Config
.vscode